<div></div>
<div style="text-align:center">
  <img width="300" alt="Angular Logo" src="/assets/podcast-icon.jpg">
</div>
<div fxLayout="row">
  <div fxFlex="25"></div>
  <div fxFlexAlign="center" fxLayout="column">
    <div id="show-description">
      Welcome to The Work in Progress podcast. The show is a conversation about retaining your Christianity
      while growing up in modern day America. Pretty much everything about this podcast is a work-in-progress. The
      host(s), the guests, the format, the website, etc. are all in various states of becoming who God means them to be.
      In its current form, each episode is a conversation between a father and his oldest daughter. Dad is trying to
      prepare his girl to hold onto the Faith that was delivered to her as she becomes independent. While daughter tries
      to help the old guy learn to communicate without offending everyone under 30.
    </div>
    <hr class='title-spacing' />
    <app-episode-list></app-episode-list>
    <app-parenting-list></app-parenting-list>
  </div>
  <div fxFlex="25"></div>
</div>
